<header class="py-10 w-full max-w-4xl flex flex-col items-center text-center">
  <h1
    class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold mb-4"
  >
    PERUESCLAVE COIN 🚀
  </h1>
  <img
    src="/public/cuy.png"
    alt="Imagen de PERUESCLAVE COIN con un cuy dorado"
    class="hero-image"
  />

  <nav class="flex justify-center gap-4 mt-6">
    <a
      href="https://x.com/peruesclavecoin"
      target="_blank"
      aria-label="Follow us on X"
      class="btn"
    >
      Flow en X
    </a>
    <a
      href="https://t.me/PERUESCLAVECOIN"
      target="_blank"
      aria-label="Join us on Telegram"
      class="btn"
    >
      Join in Telegram
    </a>
  </nav>

  <p class="text-lg text-gray-300 mt-6">
    The next big 1000x crypto opportunity! Don't miss out! 💎
  </p>
</header>

<style>
  h1 {
    font-size: 50px;
    color: #fff237; /* Amarillo */
    font-weight: bold;
  }

  .hero-image {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #000; /* Texto negro */
    background-color: #fff237; /* Fondo amarillo */
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .btn:hover {
    background-color: #fbbf24; /* Amarillo más oscuro al hacer hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
  }

  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 242, 55, 0.5); /* Anillo de enfoque amarillo */
  }
  nav {
    padding: 15px;
    padding-bottom: 25px;
  }
</style>
