<section id="trabajos" class="experience-section py-5 pb-0">
  <h2 class="text-center mb-4">Skyrocket to the Moon! 🚀</h2>
  <p class="text-center">Join the community and boost your gains! 💎</p>

  <div class="container text-center">
    <div class="grid-container">
      <div class="grid-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-rocket"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"
          ></path><path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path><path
            d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg
        >
        <h2>Skyrocket Gains</h2>
        <h3>Early investors will ride the moon wave! 🚀</h3>
      </div>
      <div class="grid-item">
        <svg
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-trending-up"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M3 17l6 -6l4 4l8 -8"></path><path d="M14 7l7 0l0 7"></path></svg
        >
        <h2>Pump Guaranteed</h2>
        <p>The community is hyped and ready! 🔥</p>
      </div>
      <div class="grid-item">
        <svg
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-users"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path
            d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path><path
            d="M16 3.13a4 4 0 0 1 0 7.75"></path><path
            d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path></svg
        >
        <h2>Massive Community</h2>
        <p>Join thousands of diamond hands! 💎</p>
      </div>
      <div class="grid-item">
        <svg
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-wallet"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12"
          ></path><path d="M20 12v4h-4a2 2 0 0 1 0 -4h4"></path></svg
        >
        <h2>TOKENOMICS</h2>
        <h3>Total Supply: 1T</h3>
      </div>
      <div class="grid-item pb-0">
        <svg
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-currency-dollar"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"
          ></path><path d="M12 3v3m0 12v3"></path></svg
        >
        <h3>Liquidity Locked</h3>
      </div>
    </div>
  </div>
</section>
<style>
  div {
    padding: 25px;
  }
</style>
